*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: lavender;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.container{
    position: absolute;
    left: 50%;
    top: 10%;
}
.box{
    width: 400px;
    background: #fafafa;
    border-radius: 38px;
    text-align: center;
    position: relative;
    box-shadow: 0 10px 20px black;
}
.box::before{
    content: "";
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(225, 225, 225, 0.3);
    box-sizing: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}
h1{
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
}
.content{
    padding: 0 40px;
}
.input{
    background: #fff;
    box-shadow:  0 0 95px -30px rgba( 0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
}
.input label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}
.input input{
    outline: none;
    border: none;
    border-bottom: 1px solid #4f7df9;
    width: 60%;
    text-align: center;
    font-size: 28px;
}
 .calculate button{
    color: #FFF;
    background-color: #4f7df9;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: 0.2s ease;
}
.calculate button:hover{
    background : #4f7df9;
}
.result{
    padding: 5px 10px;
}
.result p{
    font-weight: 600px;
    font-size: 22px;
    color: #000;
    margin-bottom: 15px;

}
.result #result{
    font-size: 36px;
    font-weight: 900px;
    color: #4f7df9;
    background-color: #eaeaea;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    border-bottom: 25px;
}
#comment{
    color: #4f7df9;
    font-weight: 600px;
}